.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .fill-remaining-space {
    flex: 1 1 auto;
  }


.navbarlist mat-list-item {
    color: white;
    transition: 0.3s;
}

.navbarlist mat-list-item .margin-left {
    margin-left:10px
}
.navbarlist mat-list-item:hover {
    background-color: #3e8e41;
    color: white;
    cursor: pointer;
}
.active-link {
    background-color: #3e8e41;
}

.hovered-menu-item {

    color: black;
    transition: 0.3s;
}

.hovered-menu-item:hover {
    background-color: #3e8e41;
    color: white;
    cursor: pointer;
}

.fixed-mat-menu .mat-menu-content:not(:empty) {
    padding-top: -8px !important;
    padding-bottom: -8px !important;
}

.gradient {
    background: rgb(203,235,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(203,235,255,1) 1%, rgba(63,81,121,1) 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(203,235,255,1) 1%,rgba(63,81,121,1) 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(203,235,255,1) 1%,rgba(63,81,121,1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbebff', endColorstr='#3f5179',GradientType=0 ); /* IE6-9 */
}

mat-list-item:focus {
    outline: none
}


