<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [mode]="slide" class="primary" style="padding-top:50px; width: 300px;">
        <mat-list class="navbarlist">
            <mat-list-item (click)="goTo()" [routerLink]="['/sec/mywork']" routerLinkActive="active-link">
                <mat-icon matSuffix>library_books</mat-icon>
                <span class="margin-left">
                    {{ 'MyWork' | translate }}
                </span>
                <span class="fill-remaining-space"></span>
                <mat-chip-list>
                    <mat-chip color="accent" selected>152</mat-chip>
                </mat-chip-list>
            </mat-list-item>


            <mat-list-item (click)="goTo()" [routerLink]="['/sec/unassigned']" routerLinkActive="active-link">
                <mat-icon matSuffix>library_books</mat-icon>
                <span class="margin-left">
                    {{ 'Unassigned' | translate }}
                </span>
                <span class="fill-remaining-space"></span>
                <mat-chip-list>
                    <mat-chip color="accent" selected>10</mat-chip>
                </mat-chip-list>
            </mat-list-item>

            <mat-list-item (click)="goTo()" [routerLink]="['/sec/team']" routerLinkActive="active-link">
                <mat-icon matSuffix>library_books</mat-icon>
                <span class="margin-left">
                    {{'Team' | translate}}
                </span>
                <span class="fill-remaining-space"></span>
                <mat-chip-list>
                    <mat-chip color="accent" selected>52</mat-chip>
                </mat-chip-list>
            </mat-list-item>


            <mat-list-item (click)="openHierarchy()">
                <mat-icon matSuffix>folder</mat-icon>
                <span class="margin-left">
                    {{ 'MyHierarchy' | translate }}
                </span>
                <span class="fill-remaining-space"></span>
                <mat-icon matSuffix> {{ isHierarchyOpen == true ? "indeterminate_check_box" : "add_box"}}</mat-icon>
            </mat-list-item>

            <!-- sdaad -->
            <mat-list *ngIf="isHierarchyOpen" style="background-color: midnightblue; padding-left: 26px; margin-bottom: 8px; padding-bottom: 8px;">
                <mat-list-item style="border-left: 1px solid thistle"    
                (click)="goTo()" [routerLink]="['/sec/open']" routerLinkActive="active-link">
                    <mat-icon matSuffix>library_books</mat-icon>
                    <span class="margin-left">
                        {{ 'Open' | translate }}
                    </span>
                    <span class="fill-remaining-space"></span>
                    <mat-chip-list>
                        <mat-chip color="accent" selected>152</mat-chip>
                    </mat-chip-list>
                </mat-list-item>
                <mat-list-item style="border-left: 1px solid thistle"  
                (click)="goTo()" [routerLink]="['/sec/completed']" routerLinkActive="active-link">
                    <mat-icon matSuffix>library_books</mat-icon>
                    <span class="margin-left">
                        {{ 'Completed' | translate }}
                    </span>
                    <span class="fill-remaining-space"></span>
                    <mat-chip-list>
                        <mat-chip color="accent" selected>12</mat-chip>
                    </mat-chip-list>
                </mat-list-item>
            </mat-list>

            <!-- <mat-list-item (click)="goTo()" [routerLink]="['/sec/completed']" routerLinkActive="active-link">
                <mat-icon matSuffix>library_books</mat-icon>
                <span class="margin-left">
                    Completed
                </span>
                <span class="fill-remaining-space"></span>
                <mat-chip-list>
                    <mat-chip color="accent" selected>12</mat-chip>
                </mat-chip-list>
            </mat-list-item> -->

            <mat-list-item>
                <mat-icon matSuffix>folder</mat-icon>
                <span class="margin-left">
                    {{ 'OpSpecs' | translate }}
                </span>
                <span class="fill-remaining-space"></span>
                <mat-icon matSuffix>add_box</mat-icon>
            </mat-list-item>

            <mat-list-item (click)="goTo()" [routerLink]="['/sec/requests']" routerLinkActive="active-link">
                <mat-icon matSuffix>archive</mat-icon>
                <span class="margin-left">
                    {{'AllRequests' | translate}}
                </span>
                <span class="fill-remaining-space"></span>
                <mat-chip-list>
                    <mat-chip color="accent" selected>2</mat-chip>
                </mat-chip-list>
            </mat-list-item>

            <mat-list-item (click)="goTo()" [routerLink]="['/sec/forms']" routerLinkActive="active-link">
                <mat-icon matSuffix>file_copy</mat-icon>
                <span class="margin-left">
                    {{'Forms'| translate}}
                </span>
                <span class="fill-remaining-space"></span>
                <mat-chip-list>
                    <mat-chip color="accent" selected>2</mat-chip>
                </mat-chip-list>
            </mat-list-item>


        </mat-list>

    </mat-sidenav>


    <mat-sidenav-content>

        <mat-toolbar color="accent" class="gradient" style="height: 103px;">
            <div style="cursor:pointer; margin-left: 25px;" (click)="sidenav.toggle()">
                <mat-icon>format_align_justify</mat-icon>
            </div>
            
            <span class="fill-remaining-space"></span>

            <button mat-raised-button routerLink="/sec/mywork">{{'MainMenu' | translate}}</button>
            <button style="margin-left:50px;" mat-raised-button routerLink="/sec/help">{{'Help' | translate}}</button>

            <img style="height: 100px; margin-left:50px;" src="assets/avatar1.png">

            <!-- <ol class="breadcrumb">
                <li *ngFor="let breadcrumb of breadcrumbs$ | async"
                    class="breadcrumb-item">
                  <a [routerLink]="[breadcrumb.url, breadcrumb.params]">
                    {{ breadcrumb.label }}
                  </a>
                </li>
              </ol> -->

            <button style="margin:0px 25px 0 25px;" (click)="openUserMenu()" mat-raised-button [matMenuTriggerFor]="menu ">{{user.email}}
                <mat-icon> {{ isMenuOpen == true ? "expand_less" : "expand_more"}}</mat-icon>
            </button>
            <mat-menu #menu="matMenu" [overlapTrigger]="false" (closed)="openUserMenu()" class="fixed-mat-menu">
                <button mat-menu-item class="hovered-menu-item">
                    <mat-icon>lock</mat-icon>
                    <span routerLink="/sec/changePas">{{'ChangePassword'|translate}}</span>
                </button>
                <button mat-menu-item class="hovered-menu-item" (click)="logOut()">
                    <mat-icon>directions_run</mat-icon>
                    <span>{{'Logout'|translate}}</span>
                </button>
            </mat-menu>


            <button style="margin:0px 25px 0 25px;" (click)="openLanguageMenu()" mat-raised-button [matMenuTriggerFor]="rootMenu">{{ language | translate }}
                <mat-icon> {{ isLanguageOpen == true ? "expand_less" : "expand_more"}}</mat-icon>
            </button>
            <mat-menu #rootMenu="matMenu" [overlapTrigger]="false" (closed)="openLanguageMenu()" class="fixed-mat-menu">
                <button mat-menu-item class="hovered-menu-item" (click)="SetLanguage('Latin')">
                    <span>{{ 'Latin' | translate}}</span>
                </button>
                <button mat-menu-item class="hovered-menu-item" (click)="SetLanguage('Arabic')">
                    <span>{{ 'Arabic' | translate}}</span>
                </button>
                <button mat-menu-item class="hovered-menu-item" (click)="SetLanguage('Cyrillic')">
                    <span>{{ 'Cyrillic' | translate}}</span>
                </button>
                <button mat-menu-item class="hovered-menu-item" (click)="SetLanguage('Mandarin')">
                    <span>{{ 'Mandarin' | translate}}</span>
                </button>
            </mat-menu>



        </mat-toolbar>

        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>