<mat-toolbar class="primary" style="color:white">
  <mat-icon matSuffix>home</mat-icon>
  <span style="margin-left:15px;">{{ 'ChangePassword' | translate }}</span>
</mat-toolbar>

<div class="container" style="margin-top: 50px;">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="row">



        <div class="col-sm-12 text-center">
          <div style="height:100px">
            <img style="width: 100%; height: 100%;" src="assets/casr_min.png">
          </div>
        </div>

        <div class="col-sm-12 text-center" style="margin-top:35px;">
          <form [formGroup]="loginForm" (ngSubmit)="updatePassword()">

          
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input  matInput formControlName="oldPassword" placeholder="{{ 'OldPassword' | translate }}" type="Password" />
                    <!--<mat-icon matSuffix>person</mat-icon>-->
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input  matInput formControlName="newPassword"  (change)="checkPassword()" placeholder="{{ 'NewPassword' | translate }}" type="Password" />
                    <!--<mat-icon matSuffix>person</mat-icon>-->
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input  matInput formControlName="repeatPassword"  (change)="checkPassword()" placeholder="{{ 'RepeatPassword' | translate }}" type="Password" />
                    <!--<mat-icon matSuffix>person</mat-icon>-->

                  </mat-form-field>
                  <mat-error class="example-full-width" *ngIf="isError">
                    Passwords not equal
                 </mat-error>
                </div>
              </div>
            </div>



            
            <div class="row" style="margin-bottom:15px;">
              <div class="col-sm-12">
                <mat-error class="example-full-width" *ngIf="error">
                 {{error}}
                </mat-error>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <button mat-raised-button color="primary" [disabled]="loginForm.invalid" type="submit" name="action" class="example-full-width">
                  {{ 'ChangePassword' | translate }}
                  <!-- <mat-icon>send</mat-icon> -->
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>