 .page-loading {
      display: none;
    }
    
    .page-loading .overlay {
      position: fixed;    
      top: 0;
      left: 0;      
      background-color: #000;
      opacity: 0.5;      
      width: 100%;
      height: 100%;
      z-index: 5;
    }
    
     .page-loading.active{
       display: block;
     }

     .page-loading .spinner-deep-purple-only{
       border-color: #fff; 
     }

     .preloader-wrapper{
       z-index: 5;
       top: 45%;
       left: 47%;
       position: fixed;
     }