<div class="page-loading center" [ngClass]="{'active' : active}">
  <div class="overlay"></div>
  <div class="preloader-wrapper inline" [ngClass]="{'active' : active}">
    <div class="spinner-layer spinner-deep-purple-only">
        <mat-spinner></mat-spinner>
    </div>
  </div>
</div>