<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div style="background-color: white;">

    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container" style="margin-top: 50px;">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="row">



        <div class="col-sm-12 text-center">
          <div style="height:100px">
            <img style="width: 100%; height: 100%;" src="assets/casr_min.png">
          </div>
        </div>

        <div class="col-sm-12 text-center" style="margin-top:35px;">
          <form [formGroup]="loginForm" (ngSubmit)="Login()">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="email" placeholder="{{ 'Email' | translate }}" type="text" />
                    <mat-icon matSuffix>person</mat-icon>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input matInput formControlName="password" placeholder="{{ 'Password' | translate }}" type="Password"/>
                    <mat-icon matSuffix>person</mat-icon>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                      <mat-form-field>
                          <mat-select [(value)]="lang" placeholder="{{ lang | translate }}">
                            <mat-option value="option1" (click)="SetLanguage('Latin')">{{ 'Latin' | translate }}</mat-option>
                            <mat-option value="option2" (click)="SetLanguage('Arabic')">{{ 'Arabic' | translate }}</mat-option>
                            <mat-option value="option3" (click)="SetLanguage('Cyrillic')">{{ 'Cyrillic' | translate }}</mat-option>
                            <mat-option value="option3" (click)="SetLanguage('Mandarin')">{{ 'Mandarin' | translate }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                  </div>
                </div>
              </div>
            
            <div class="row" style="margin-bottom:15px;">
              <div class="col-sm-12">
                <mat-error class="example-full-width" *ngIf="error">
                 {{error}}
                </mat-error>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <button mat-raised-button color="primary" [disabled]="loginForm.invalid" type="submit" name="action" class="example-full-width">
                  {{'LOGIN' | translate }}
                  <!-- <mat-icon>send</mat-icon> -->
                </button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>