<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-6 fixed-div">
            <h1 class="deep-purple-text text-center">{{ 'WELCOME' | translate }} CASR</h1>
            <div class="row">      
                    <div class="col-sm-12">
                            <img style="width: 100%; height: 100%;"src="assets/casr.png">
                    </div>
            </div>
            <div class="row" style="margin-top:50px">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <button mat-raised-button color="primary" type="button" (click)="redirectToSignIn()" class="example-full-width">
                        {{ 'LOGIN' | translate }}
                    </button>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <hr>
        </div>
    </div>
</div>