<mat-toolbar class="primary" style="color:white">
  <mat-icon matSuffix>home</mat-icon>
  <!-- <span style="margin-left:15px;">{{'Requests' | translate}}</span>
  <span style="margin-left:15px;">|</span>
  <span style="margin-left:15px;">{{'Details' | translate}}</span> -->
</mat-toolbar>

<ol class="breadcrumb">
  <li *ngFor="let breadcrumb of breadcrumb$" class="breadcrumb-item">
      <a mat-button [routerLink]="[breadcrumb.url]">
          {{ breadcrumb.label }}
      </a>
  </li>
</ol>

<div class="container-fluid" style="margin-top: 50px;">
  <div class="row justify-content-center">
    <div class="col-11 mat-elevation-z8" style="padding:25px; margin-bottom: 50px;">
      <h4>{{ 'Request' | translate}}</h4>
      <hr>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{ 'ProcessName' | translate }}" [(ngModel)]="requestDetail.ProcessName">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{ 'BPMProcessId' | translate }}" [(ngModel)]="requestDetail.BpmProcessId">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <ng-select [items]="['Form Type 1', 'Form Type 2', 'Form Type 3']" [multiple]="true" [closeOnSelect]="false"
              [hideSelected]="true" bindLabel="name" placeholder="{{ 'FormType' |translate }}" [(ngModel)]="requestDetail.FormType">
            </ng-select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" style="margin-top: 5px !important">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{ 'FormVersion' | translate }}" [(ngModel)]="requestDetail.FormVersion">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{ 'RequestNumber' | translate }}" [(ngModel)]="requestDetail.RequestNumber">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="StartDate" readonly placeholder="{{ 'StartDate' | translate }}" [(ngModel)]="requestDetail.StartDate">
              <mat-datepicker-toggle matSuffix [for]="StartDate"></mat-datepicker-toggle>
              <mat-datepicker [disabled]="false" #StartDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group fix-time-input ">
            <mat-form-field class="example-full-width">
              <input type="time" matInput placeholder="{{ 'StartTime' | translate }}" [(ngModel)]="requestDetail.StartTime">
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="EndDate" readonly placeholder="{{ 'EndDate' | translate }}" [(ngModel)]="requestDetail.EndDate">
              <mat-datepicker-toggle matSuffix [for]="EndDate"></mat-datepicker-toggle>
              <mat-datepicker [disabled]="false" #EndDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group fix-time-input">
            <mat-form-field class="example-full-width">
              <input type="time" matInput placeholder="{{ 'EndTime' | translate }}" [(ngModel)]="requestDetail.EndTime">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <mat-select placeholder="{{ 'Status' | translate }}" [(ngModel)]="requestDetail.Status">
                <mat-option *ngFor="let status of ['Completed', 'Started', 'In progress']" [value]="status">
                  {{status}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="DateStatus" readonly placeholder="{{ 'DateStatus' | translate }}" [(ngModel)]="requestDetail.DateStatus">
              <mat-datepicker-toggle matSuffix [for]="DateStatus"></mat-datepicker-toggle>
              <mat-datepicker [disabled]="false" #DateStatus></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group fix-time-input ">
            <mat-form-field class="example-full-width">
              <input type="time" matInput placeholder="{{ 'TimeStatus' | translate}}" [(ngModel)]="requestDetail.TimeStatus">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <ng-select [items]="['Department 1', 'Department 2', 'Department 3']" [multiple]="true" [closeOnSelect]="false"
              [hideSelected]="true" bindLabel="name" placeholder="{{ 'Departament' | translate }}" [(ngModel)]="requestDetail.Departament">
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <ng-select [items]="['Entity 1', 'Entity 2', 'Entity 3']" [multiple]="true" [closeOnSelect]="false"
              [hideSelected]="true" bindLabel="name" placeholder="{{ 'Entity' | translate }}" [(ngModel)]="requestDetail.Entity">
            </ng-select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <ng-select [items]="['Applicant 1', 'Applicant 2', 'Applicant 3']" [multiple]="true" [closeOnSelect]="false"
              [hideSelected]="true" bindLabel="name" placeholder="{{ 'Applicant' | translate }}" [(ngModel)]="requestDetail.Applicant">
            </ng-select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">view_list</mat-icon>
                <span style="margin-left: 10px;">{{ 'SubmittedForm' | translate}}</span>
              </ng-template>
              asd
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span>{{ 'Requirements' | translate}}</span>
              </ng-template>
              asd
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span>{{ 'ApplicantDocuments' | translate}}</span>
              </ng-template>
              asd
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span>{{ 'ProcessDocuments' | translate}}</span>
              </ng-template>
              asd
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span>{{ 'Notes' | translate}}</span>
              </ng-template>
              asd
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span>{{ 'GeneratedInfo' | translate}}</span>
              </ng-template>
              asd
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span>{{ 'Tasks' | translate}}</span>
              </ng-template>
              asd
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span>{{ 'Letters' | translate}}</span>
              </ng-template>
              asd
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span>{{ 'Emails' | translate }}</span>
              </ng-template>
              asd
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span>{{ 'Invoices' | translate }}</span>
              </ng-template>
              asd
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>


    </div>
  </div>
</div>