<mat-toolbar class="primary" style="color:white">
  <mat-icon matSuffix>home</mat-icon>
  <span style="margin-left:15px;">{{ 'Help' | translate }}</span>
</mat-toolbar>

<div class="container" style="margin-top: 50px;margin-bottom:100px">
    <div class="row justify-content-center">
      <div class="col-9">
        <div class="row">

            <mat-expansion-panel [disabled]="isDisabled">
                <mat-expansion-panel-header color="red">
                    {{ 'Help' | translate }}
                </mat-expansion-panel-header>
                <mat-panel-description>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </mat-panel-description>
            </mat-expansion-panel>

            <mat-expansion-panel [disabled]="isDisabled">
                <mat-expansion-panel-header color="red">
                    {{ 'Help' | translate }}
                </mat-expansion-panel-header>
                <mat-panel-description>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </mat-panel-description>
            </mat-expansion-panel>

            <mat-expansion-panel [disabled]="isDisabled">
                <mat-expansion-panel-header color="red">
                    {{ 'Help' | translate }}
                </mat-expansion-panel-header>
                <mat-panel-description>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </mat-panel-description>
            </mat-expansion-panel>

            <mat-expansion-panel [disabled]="isDisabled">
                <mat-expansion-panel-header color="red">
                    {{ 'Help' | translate }}
                </mat-expansion-panel-header>
                <mat-panel-description>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </mat-panel-description>
            </mat-expansion-panel>
            
            <mat-expansion-panel [disabled]="isDisabled">
                <mat-expansion-panel-header color="red">
                        {{ 'Help' | translate }}

                </mat-expansion-panel-header>
                <mat-panel-description>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </mat-panel-description>
            </mat-expansion-panel>
            

            </div>
        </div>
    </div>
</div>


       