<mat-toolbar class="primary" style="color:white">
  <mat-icon matSuffix>home</mat-icon>
  <!-- <span style="margin-left:15px;">{{ Page }}</span>
  <span style="margin-left:15px;">|</span>
  <span style="margin-left:15px;">{{ 'Details' | translate }} </span> -->

</mat-toolbar>
<ol class="breadcrumb">
  <li *ngFor="let breadcrumb of breadcrumb$" class="breadcrumb-item">
          <a mat-button [routerLink]="[breadcrumb.url]">
                  {{ breadcrumb.label }}
          </a>
  </li>
</ol>


<div class="container-fluid" style="margin-top: 50px;">
  <div class="row justify-content-center">
    <div class="col-10">
      <mat-tab-group class="mat-elevation-z4">
        <mat-tab>
          <ng-template mat-tab-label>
            {{'ActivityDetail' | translate}}
          </ng-template>
          <app-activity-form-part [setActivityDetail]="activityDetail"></app-activity-form-part>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
           {{'ResponseSection' | translate}}
          </ng-template>
          <div style="padding: 15px;">
            <div style="margin:15px;">
              <h4>{{'Actions' | translate}}</h4>
              <hr>
              <mat-tab-group class="mat-elevation-z4">
                <mat-tab>
                  <ng-template mat-tab-label>
                    {{'Accept' | translate}}
                  </ng-template>
                  <div style="padding: 25px;">
                    <button mat-raised-button color="accent" style="margin-left:10px;">
                      <mat-icon class="example-tab-icon">check_box</mat-icon>
                      {{'Accept' | translate}}
                    </button>
                  </div>
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    {{'AdditionalInfo' | translate}}
                  </ng-template>
                </mat-tab>
                <mat-tab>
                  <ng-template mat-tab-label>
                    {{'Reject' | translate}}
                  </ng-template>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>