<div style="padding: 15px;">
    <div style="margin:15px;">
      <button mat-raised-button color="accent">
        <mat-icon class="example-tab-icon">reply</mat-icon>
      </button>
      <button mat-raised-button color="accent" style="margin-left:10px;">
        <mat-icon class="example-tab-icon">chat_bubble</mat-icon>
      </button>
    </div>

    <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">check_box</mat-icon>
          <span style="margin-left: 10px;">{{'Task' | translate}}</span>
        </ng-template>
        <div style="padding: 15px;">

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="{{ 'RequestNumber' | translate }}" [(ngModel)]="setActivityDetail.RequestNumber">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="{{ 'Name' | translate }}" [(ngModel)]="setActivityDetail.Name">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="{{ 'FormType' | translate }}" [(ngModel)]="setActivityDetail.FormType">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="{{ 'ToBeDoneBy' | translate }}" [(ngModel)]="setActivityDetail.ToBeDoneBy">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                  <mat-form-field class="example-full-width">
                      <input matInput [matDatepicker]="AssignedDate" readonly="true" placeholder="{{ 'AssignedDate' | translate }}" [(ngModel)]="setActivityDetail.StartDate">
                      <mat-datepicker-toggle matSuffix [for]="AssignedDate"></mat-datepicker-toggle>
                      <mat-datepicker [disabled]="false" #AssignedDate></mat-datepicker>
                    </mat-form-field>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group fix-time-input ">
                <mat-form-field class="example-full-width">
                  <input type="time" matInput placeholder="{{ 'AssignedTime' | translate }}" [(ngModel)]="setActivityDetail.StartTime">
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="CompletedDate" readonly placeholder="{{ 'CompletedDate' | translate }}" [(ngModel)]="setActivityDetail.ConfirmedDate">
                  <mat-datepicker-toggle matSuffix [for]="CompletedDate"></mat-datepicker-toggle>
                  <mat-datepicker [disabled]="false" #CompletedDate></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group fix-time-input">
                <mat-form-field class="example-full-width">
                  <input type="time" matInput placeholder="{{ 'CompletedTime' | translate }}"  [(ngModel)]="setActivityDetail.ConfirmedTime">
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="{{'Observation' | translate}}"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>


        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">view_list</mat-icon>
          <span style="margin-left: 10px;">{{'SubmittedForm'| translate}}</span>
        </ng-template>
        Content 1
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          {{'Requirements'|translate}}
        </ng-template>
        Content 1
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          {{'Notes'|translate}}
        </ng-template>
        Content 1
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          {{'ProcessDocuments'|translate}}
        </ng-template>
        Content 1
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          {{'ApplicantDocuments'|translate}}
        </ng-template>
        Content 1
      </mat-tab>


    </mat-tab-group>
  </div>
