<div class="row">

  <mat-icon class="mat-header-icon" 
  style="cursor: pointer !important; margin-left:15px; color:green;"
    [matMenuTriggerFor]="menu" 
    (click)="onMenuChange()"
    [ngClass]="{'openedTab' : isMenuOpen, 'haveFilter': HaveFilter}"
    >format_align_left</mat-icon>

  <div mat-sort-header style="cursor: pointer !important; margin-top: 4px; margin-left: 10px;">{{cellName}}</div>
  <mat-menu #menu="matMenu" [overlapTrigger]="false" (closed)="onMenuChange()">
    <div style="padding:25px;" (click)="$event.stopPropagation()">
      <mat-checkbox [(ngModel)]="group" [checked]="group" (change)="onGroupChange()">{{ 'Group' | translate }}</mat-checkbox><br>
      <mat-checkbox [(ngModel)]="containsData" [checked]="containsData" (change)="onChangeContainsData()">{{ 'ContainsData' | translate }}</mat-checkbox><br>
      <mat-checkbox [(ngModel)]="notContainsData" [checked]="notContainsData" (change)="onChangeNotContainsData()">{{ 'DoesntContainsData' | translate }}</mat-checkbox><br>
      <mat-checkbox [(ngModel)]="filter" [checked]="filter" (change)="onFilterChange()">{{ 'Filter' | translate }}</mat-checkbox>
      
      <mat-form-field class="example-full-width">
        <input [disabled]="!filter" [(ngModel)]="searchString" matInput placeholder="{{ 'ContainsTheFollowingString' | translate }}">
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="onClear()">{{ 'Clear' | translate }}</button>
      <button mat-raised-button style="float:right" color="primary" (click)="onApplyFilter()">{{ 'Apply' | translate }}</button>

    </div>
  </mat-menu>
</div>