.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-expansion-panel .mat-expansion-panel-header{
    transition: 0.3s;

}
.mat-expansion-panel .mat-expansion-panel-header:hover {
  background: #aee3ec;
}
