<mat-toolbar class="primary" style="color:white">
  <mat-icon matSuffix>home</mat-icon>
  <span style="margin-left:15px;">{{'Forms' | translate}}</span>
</mat-toolbar>

<div class="container-fluid" style="margin-top: 50px;">
  <div class="row justify-content-center">
    <div class="col-11 mat-elevation-z8" style="padding:25px; margin-bottom: 50px;">
      <h4>{{ 'AvailiableForms' | translate}}</h4>
      <hr>

      <div class="col-md-5">
        <ng-select [items]="criterias" [multiple]="true" [closeOnSelect]="false" bindLabel="PrintableName"
          [hideSelected]="true" placeholder="{{ 'ChooseCriterias' | translate }}" [(ngModel)]="selectedCriterias">
        </ng-select>
      </div>

      <div class="mat-elevation-z8" style="padding:25px;">
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="{{ 'TypeSomething' | translate }}" [(ngModel)]="searchFilter.searchString">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4" *ngFor="let item of selectedCriterias">

            <mat-form-field class="example-full-width">
              <input id="field{{item.Name}}" matInput placeholder="{{item.PrintableName}}" [(ngModel)]="searchFilter[item.Name]">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2">
            <button mat-raised-button color="accent" (click)="getForms()">
              {{ 'Search' | translate }}
            </button>
          </div>
        </div>
      </div>

      <div style="padding:25px; margin-top:25px;" *ngIf="formList">
        <div class="row">
          <mat-accordion class="example-headers-align" style="width:100%" multi>
            <mat-expansion-panel *ngFor="let form of formList">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h4>{{form.formTitle}}</h4>
                </mat-panel-title>
                <!-- <mat-panel-description>
                    Type the country name
                    <mat-icon>check</mat-icon>
                  </mat-panel-description> -->
              </mat-expansion-panel-header>

              <div class="row">
                <div class="col-md-3 text-center" style="margin-top: 25px;" *ngFor="let subForm of form.subForms">
                  <div>
                    <mat-icon     style="font-size: 75px; height: 75px; width: 75px;">file_copy</mat-icon>
                  </div>
                  <p>
                    {{subForm}}
                  </p>
                  <div>
                    <button mat-raised-button color="primary">
                      {{'Submit' | translate}}
                    </button>
                  </div>
                </div>
              </div>
              <div>
              </div>

            </mat-expansion-panel>

          </mat-accordion>
        </div>
      </div>


    </div>

  </div>
</div>