.fab-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
  
.fab-container div {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      margin-bottom: 5px;
    }
  
.fab-container button {
      margin-bottom: 17px;
    }

.fab-toggler {
    float: right;
    z-index: 100;
  }


  .popup__actions__btn.btn-ok[_ngcontent-c15] {
    background-color: red !important;
}