<ol class="breadcrumb">
  <li *ngFor="let breadcrumb of breadcrumb$ | async"
      class="breadcrumb-item">
    <a mat-button [routerLink]="[breadcrumb.url]" >
      {{ breadcrumb.label }}
    </a>
  </li>
</ol>

{{breadcrumb$}}