/* .breadcrumb li {
    display: inline;
}

.breadcrumb li+li:before {
    content: " > ";
    color: white;
}

.breadcrumb {
    background-color: #8d0000;
    padding: 20px;
}

.breadcrumb a {
    color: white;
} */