<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{'TITLE' | translate}}</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


<body>
    <app-root>
        <h1 style="margin: 2.1rem 0 1.68rem 0; text-align: center; height: 100%;">
            <img style="width: 90%; height: 90%; margin-top:5%" src="assets/casr.png">
          </h1>
    </app-root>
</body>

</html>
