@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@ng-select/ng-select/themes/material.theme.css";

.example-full-width {
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

button:focus {
  outline: 0px !important;
}

.primary {

  background-color: #3F5179
}

.mat-row:hover {
  transition: 0.3s;
}

.mat-row:hover {
  background-color: #aee3ec;
  cursor: pointer;
}

.mat-tab-list > .mat-tab-label {
  flex-basis: 0;
  flex-grow: 1;
}


.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-value-container {
  padding-bottom: 0;
  padding-top: .4375em 
}


.fix-time-input {
  margin:-5.1px
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover{
  background-color: #aee3ec; 
}

.popup__actions__btn.btn-ok {
  background-color:  lightblue !important;
}


.popup__actions__btn.btn-ok:hover {
  background-color: royalblue !important;
}