/* .mat-header-icon {
    cursor: pointer;
    display: unset;
    margin-left: -2px;
    margin-top: 14px;
    margin-right: 10px;
    float: left;
} */

.openedTab {
    color: sandybrown !important
}
    
.haveFilter {
    color: red !important
}

.input-full-width{
    width: 100%;
    margin-left: 5%;
}

::ng-deep .mat-menu-panel {
    max-width: 400px;
  }