<div class="row">

  <mat-icon class="mat-header-icon" 
  style="cursor: pointer !important; margin-left:15px; color:green;"
    [matMenuTriggerFor]="menu" 
    (click)="onMenuChange()"
    [ngClass]="{'openedTab' : isMenuOpen, 'haveFilter': HaveFilter}"
    >format_align_left</mat-icon>

  <div mat-sort-header style="cursor: pointer !important; margin-top: 4px; margin-left: 10px;">{{cellName}}</div>
  <mat-menu #menu="matMenu" [overlapTrigger]="false" (closed)="onMenuChange()">
    <div style="padding:25px;" (click)="$event.stopPropagation()">
        <mat-checkbox [(ngModel)]="group" [checked]="group" (change)="onGroupChange()">{{ 'Group' | translate}}</mat-checkbox><br>
      <mat-checkbox [(ngModel)]="containsData" [checked]="containsData" (change)="onChangeContainsData()">{{ 'ContainsData' | translate }}</mat-checkbox><br>
      <mat-checkbox [(ngModel)]="notContainsData" [checked]="notContainsData" (change)="onChangeNotContainsData()">{{ 'DoesntContainsData' | translate }}</mat-checkbox><br>
      
      <mat-checkbox [(ngModel)]="filter" [checked]="filter" (change)="onFilterChange()">{{'Filter' | translate }}</mat-checkbox><br>

      <mat-radio-group [disabled]="!filter" [(ngModel)]="radioValue">
        <mat-radio-button value="Before">{{ 'Before' | translate}}
          <mat-form-field class="input-full-width">
          <input [disabled]="!(radioValue == 'Before') || containsData || notContainsData"
          [(ngModel)]="beforeDate" matInput [matDatepicker]="myDatepicker" placeholder="{{ 'Choose' | translate }}">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
        </mat-radio-button>
        

        <mat-radio-button value="After">{{ 'After' | translate}}
          <mat-form-field class="input-full-width">
            <input [disabled]="!(radioValue == 'After') || containsData || notContainsData"
            [(ngModel)]="afterDate" matInput [matDatepicker]="myDatepicker1" placeholder="{{ 'Choose' | translate }}">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker1></mat-datepicker>
          </mat-form-field>
        </mat-radio-button>
        

        <mat-radio-button value="Between">{{ 'Between' | translate }}</mat-radio-button><br>
        <mat-form-field class="input-full-width">
          <input [disabled]="!(radioValue == 'Between') || containsData || notContainsData"
           [(ngModel)]="betweenFirstDate" matInput [matDatepicker]="myDatepicker2" placeholder="{{ 'Choose' | translate }}">
          <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="input-full-width">
            <input [disabled]="!(radioValue == 'Between') || containsData || notContainsData"
             [(ngModel)]="betweenSecondDate" matInput [matDatepicker]="myDatepicker3" placeholder="{{ 'Choose' | translate }}">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker3"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker3></mat-datepicker>
          </mat-form-field>

      </mat-radio-group>


      <button mat-raised-button color="accent" (click)="onClear()">{{ 'Clear' | translate }}</button>
      <button mat-raised-button style="float:right" color="primary" (click)="onApplyFilter()">{{ 'Apply' | translate }}</button>

    </div>
  </mat-menu>
</div>