<h1>Submit a Form</h1>
<h5>Please select which form you want to submit</h5>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Demo form</h5>
        <p class="card-text">This Form contains an example for each requirement</p>
        <a routerLink="/forms/demo" class="btn btn-primary">Open demo form</a>
      </div>
    </div>
  </div>
</div>
