<mat-toolbar class="primary" style="color:white">
    <mat-icon matSuffix>home</mat-icon>
    <!-- <span style="margin-left:15px;">{{'Requests' | translate}}</span> -->
</mat-toolbar>
<ol class="breadcrumb">
    <li *ngFor="let breadcrumb of breadcrumb$" class="breadcrumb-item">
        <a mat-button [routerLink]="[breadcrumb.url]">
            {{ breadcrumb.label }}
        </a>
    </li>
</ol>

<div class="container-fluid" style="margin-top: 25px; padding: 40px;">

    <div class="row justify-content-between" style="margin-bottom: 25px; min-height: 36px;">
        <div class="col-4">
            <button mat-raised-button (click)="onExportToExelClick()" color="accent"> {{ 'ExportToExel' | translate }}</button>
        </div>
        <div class="col-2">
            <button mat-raised-button color="accent" *ngIf="(filterObject.Filter | json) != '{}'" style="float:right"
                (click)="clearAllFilters()"> {{ 'ClearAllFilters' | translate }}</button>
        </div>
    </div>


    <mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="ProcessName">

            <mat-header-cell *matHeaderCellDef>
                <app-table-header-cell (emitApplyFilter)="onApplyFilter($event)" [cellName]="ProcessName" [fieldName]="'ProcessName'"></app-table-header-cell>
            </mat-header-cell>
            <mat-cell *matCellDef="let activity">{{activity.ProcessName}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="FormType">
            <mat-header-cell *matHeaderCellDef>
                <app-table-header-cell (emitApplyFilter)="onApplyFilter($event)" (emitClearFilter)="onClearFilter($event)"
                    [cellName]="FormType" [fieldName]="'FormType'"></app-table-header-cell>
            </mat-header-cell>
            <mat-cell *matCellDef="let activity">{{activity.FormType}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="RequestNumber">
            <mat-header-cell *matHeaderCellDef>
                <app-table-header-cell (emitApplyFilter)="onApplyFilter($event)" (emitClearFilter)="onClearFilter($event)"
                    [cellName]="RequestNumber" [fieldName]="'RequestNumber'"></app-table-header-cell>
            </mat-header-cell>
            <mat-cell *matCellDef="let activity">{{activity.RequestNumber}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="StartDate">
            <mat-header-cell *matHeaderCellDef>
                <app-table-header-date-cell (emitApplyFilter)="onApplyFilter($event)" (emitClearFilter)="onClearFilter($event)"
                    [cellName]="StartDate" [fieldName]="'StartDate'"></app-table-header-date-cell>
            </mat-header-cell>
            <mat-cell *matCellDef="let activity">{{activity.StartDate | date}} {{activity.StartTime}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="EndDate">
            <mat-header-cell *matHeaderCellDef>
                <app-table-header-date-cell (emitApplyFilter)="onApplyFilter($event)" (emitClearFilter)="onClearFilter($event)"
                    [cellName]="EndDate" [fieldName]="'EndDate'"></app-table-header-date-cell>
            </mat-header-cell>
            <mat-cell *matCellDef="let activity">{{activity.EndDate | date}} {{activity.EndTime}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef>
                <app-table-header-cell (emitApplyFilter)="onApplyFilter($event)" (emitClearFilter)="onClearFilter($event)"
                    [cellName]="Status" [fieldName]="'Status'"></app-table-header-cell>
            </mat-header-cell>
            <mat-cell *matCellDef="let activity">{{activity.Status}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Entity">
            <mat-header-cell *matHeaderCellDef>
                <app-table-header-cell (emitApplyFilter)="onApplyFilter($event)" (emitClearFilter)="onClearFilter($event)"
                    [cellName]="Entity" [fieldName]="'Entity'"></app-table-header-cell>
            </mat-header-cell>
            <mat-cell *matCellDef="let activity">{{activity.Entity}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Applicant">
            <mat-header-cell *matHeaderCellDef>
                <app-table-header-cell (emitApplyFilter)="onApplyFilter($event)" (emitClearFilter)="onClearFilter($event)"
                    [cellName]="Applicant" [fieldName]="'Applicant'"></app-table-header-cell>
            </mat-header-cell>
            <mat-cell *matCellDef="let activity">{{activity.Applicant}}</mat-cell>
        </ng-container>





        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>
    </mat-table>

    <mat-paginator style="margin-top:20px" [length]="activityList?.length" [pageSize]="3" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>

</div>